<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            {{'Blank'|uppercase}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <strong>Ready to create an app?</strong>
        <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
        <p *ngFor="let item of [1,2,3,4,5,6] |forNumber">
            index:{{item.index}} item:{{item.numero}}
        </p>
    </div>
</ion-content>